.devise-form-container{
  margin: 50px auto;
  padding: 20px;
  color: white;
  flex :display;
  justify-content: center;
  align-items: center;

}

.devise-form{
    background-color: white;
    color: rgb(50,50,50);
    border-style: solid;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(200,200,200);
    padding: 20px;
  }

.form-inputs{
  width: 400px;
  margin: 50px auto;
}
