#president-container{
  text-align: center;
  color: rgb(271,271,271);
  background-color: #64928B;
}

.president-elements{
  padding: 20px;
}

.president-discours p{
 font-size: 15px;
 text-align: justify;
 color: rgb(220,220,220);
}

.president-discours {
  border-style: solid;
  font-style: italic;
  position : relative;
  height: 90%;
  padding: 5% 5%;
  border-radius: 4px;
  background-color: #9D9D9B;
}

.highlight{
  color: white;
  font-size: 18px;
}

.president-profil{
  padding: 5% 0;
  text-align: center;
}

.president-discours:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 200px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #9D9D9B;
   border-bottom: 13px solid transparent;
}

