// CSS History
#history-container{
  background-color: #9D9D9B;
  height: 250px;
  display: flex;
  align-items: center;
  padding: 20px 200px;
}

.history-elements{
  background-color: #595959 ;
  padding: 20px 20px;
  border-radius: 4px;
  h2{
    margin-top: 0px;
  }
  color: white;
}



// CSS team
 #team-container{
  background-color: white;
  color : #9D9D9D;
  padding: 50px 0px 100px 0px;
}

.team-elements{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0px;
}

.team-element{
  .team-name{
    font-weight: bolder;
  }
  .team-job{
    font-weight: lighter;
    font-size: 12px;
  }
}

// President CSS
#president-container{
  text-align: center;
  color: rgb(271,271,271);
  background-color: #64928B;
  h1{
    margin: 20px 0px;
  }
}

.president-elements{
  padding: 20px;
}

.president-profil{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.president-profil-container{

}

.president-discours {
  display: flex;
  align-items: center;
  justify-content: center;
}

.president-discours-container{
  font-style: italic;
  position : relative;
  padding: 5% 5%;
  border-radius: 4px;
  background-color: #9D9D9B;
  p{
 font-size: 15px;
 text-align: justify;
 line-height: 1.5em;
 color: rgb(220,220,220);
  }
}

.highlight{
  color: white;
}

.president-profil{
  p{
    padding-top: 5px;
    font-size: 15px;
  }
}

// .president-discours:before {
//    content:"";
//    position: absolute;
//    right: 100%;
//    top: 270px;
//    width: 0;
//    height: 0;
//    border-top: 25px solid transparent;
//    border-right: 46px solid #9D9D9B;
//    border-bottom: 0px solid transparent;
// }

.avatar-team-medium{
  width: 150px;
  height: 200px;
  border-radius: 5px;
  border-style: solid;
}

.avatar-medium{
  width: 120px;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
}

// Map CSS
#map-container{
  text-align: center;
  background-color: white;
  color : #9D9D9D;
}

.map-elements{
  padding: 30px;
  .row{
    display: flex;
    align-items: center;
  }
}

