
//adhesion
#adhesion-agroe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: white;
  padding: 100px 5px;
  .offer1{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 3px rgb(100,100,100);
  }
  .offer2{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 3px rgb(100,100,100);
  }
  .join{
    p{
      font-size: 13px;
      font-style: italic;
    }
    width: 380px;
    border-radius: 4px;
    margin: 5px auto;
    padding: 40px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .offer-buttons{
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: 1px;
      margin: 30px 0px;
      padding: 30px 0px;
      width: 300px;
      p{
        margin: 10px 0px;
      }
      a{
        font-size: 14px;
        margin: 10px 0px;
      }
    }
    a{
        font-size: 10px;
      }
    .minilien a{
      color : grey;
    }
      .minilien a:hover{
      color : black;
    }
  }

}
