.ecosystem-news-container{
  text-align: center;
  color: rgb(271,271,271);
  background-color: #64928B;
  padding : 50px;
}

.ecosystem-title-container{
  text-align: center;
  color: #64928B;
  background-color: rgb(221,221,221);
  padding : 50px;
}

.ecosystem-news-container h4{
  margin-bottom: 40px;
}

.ecosystem-news-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element-twitter-timelines{
  margin-bottom: 10px;
 }

 .ecosystem-agenda-container{
  text-align: center;
  color: #64928B;
  background-color: rgb(271,271,271);
  padding : 50px;
}

.ecosystem-news-list{
}


