// GENERIQUE
body {
  font: 20px Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

 a {
   text-decoration: none;
   letter-spacing: 1px;
   color:rgb(220,220,220);
  }

 a:hover {
   color: rgb(200,200,200);
   text-decoration: none;
//   letter-spacing: 1px;
  }

h3{
    padding: 30px 0px 30px 0px;
  }

.btn-register{
  background-color: #6A9F31;
  border-style: solid;
  border-radius: 4px;
  opacity: 0.9;
  padding: 10px 20px;
  font-size: 30px;
  margin-top: 80px 200px;
  color: white;
  box-shadow: 1px 1px 3px rgb(200,200,200);
}

.btn-register:hover{
  opacity: 1;
  color: white;
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

// BANNER

#banner{
  background-color: white;
  padding: 60px 10px;
}

#banner-content {
  text-align: center;
  h1{
    padding-top: 20px;
    color: rgb(150,150,150);
    font-size: calc(25px + 0.7vw);
  }
  h4{
    color: rgb(20,20,20);
    font-size: calc(25px);
    font-weight: lighter;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px rgb(200,200,200);
  }
  a{
    margin-top: 20px;
    font-size: 22px;
  }
}

.engage{
  color: #6A9F31;
}

.engage-back{
  background-color : #6A9F31;
  opacity: 0.9;
  color: white;
}

.engage-back:hover{
  opacity: 1;
  color: white;
}


.visionnary{
  color: #C97064;
}

.experts{
  color: rgb(100,100,100);
}

.visionnary-back{
  background-color : #C97064;
  color: white;
  opacity: 0.9;
}

.visionnary-back:hover{
  opacity: 1;
  color: white;
}

// events
#events{
  padding: 100px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.events-content{
  width: 100%;
}

.sib-form-block button{
  font-size:16px;
  text-align:center;
  font-weight:700;
  color: rgb(40,40,40);
  background-color:#FFFFFF;
  border-radius:3px;
  border-style: solid;
  border-color: #e2e2e2;
}

// pas gratuit
#message-pourquoi-pas-gratuit-container{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(240,240,240);
}

#message-pourquoi-pas-gratuit-content{
  padding: 100px 10px;
  p{
    padding: 5px;
    color: rgb(100,100,100);
    max-width: 700px;
  }
  p strong{
    color: rgb(50,50,50);
  }
  h3{
    padding-bottom: 30px
  }
  a{
    color: #6A9F31;
  }
  a:hover{
    color: rgb(105,105,105);
  }
  #message-mission{
    font-style: italic;
  }
}



//imgs-wall

.imgs-wall{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 5px;
  background-color: white;
  img{
    position: center;
    height: 375px;
    transition: height ease 0.3s;
  }
}


// partenaires
#partenaires{
  background-color: white;
  padding: 100px 10px;
  a{
    margin: 5vw 5vw;
    font-size: 30px;
    }
  .logos-soutiens-resize {
  max-height: 70px;
  height: 7vw;
  margin: 2vw 3vw;
  }
}

.img-events{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  .images-events-resize {
    height: 400px;
  }
}


//adhesion
#adhesion-agroe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: white;
  padding: 100px 10px;
  .offer1{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 3px rgb(100,100,100);
  }
  .offer2{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 3px rgb(100,100,100);
  }
  .join{
    p{
      font-size: 13px;
      font-style: italic;
    }
    width: 380px;
    border-radius: 4px;
    margin: 5px auto;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a{
          font-size: 16px;
          margin: 50px 10px;
    }
    .minilien a{
      color : grey;
    }
      .minilien a:hover{
      color : black;
    }
  }

}

//contact
#contact-info{
  padding: 100px 10px;
  background-color: rgb(240,240,240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3{
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
  }
  #contact-info-container{
    display: flex;
    justify-content: center;

    #contact-info-tel{
      a{
        color: #6A9F31;
      }
          a:hover{
      color: black;
      }
      margin: 10px auto;
      width: 200px;
    }
    #contact-info-email{
      margin: 10px auto;
      width: 200px;
      a{
        color: #C97064;
      }
          a:hover{
      color: black;
      }
    }

  }
}



  // NOT USE
//   #services{
//   background-size: cover;
//   background-position: center;
//   padding: 50px;
//   padding-bottom: 100px;
//   h1{
//   }
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items:center;
// }

// .services-content{
//   width: 95%;
//   max-width: 800px;
//   margin: 0 auto;
// }


// .service-element{
//   display: flex;
//   flex-direction : column;
//   align-items: center;
//   justify-content: center;
//   width: 270px;
//   background-color: white;
//   border-radius: 4px;
//   padding: 5px;
//   margin: 30px auto;
//   box-shadow: 1px 1px 3px rgb(105,105,105);
//   transition: box-shadow margin-top 0.2s;
// }

// .service-element:hover{
//   margin-top: 27px;
//   box-shadow: 2px 2px 6px rgb(10,10,10);
//   transition: box-shadow margin-top 0.2s;
// }

// .service-title{
//   padding-top: 10px;
//   font-size: 24px;
//   text-align: center;
// }

// .service-description{

// }

// .service-button{
//   height: 150px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 24px;
//   padding: 70px 100px;
//   margin: 0px;
//   color: white;
//   text-shadow: 1px 1px 1px rgb(240,240,240)
// }



// .service-button-bg{
//   padding: 0px;
//   background-size: cover;
//   background-position: bottom;
// }

// .service-button:hover{
//   font-size: 25px;
//   transition: 0.1s ease;
// }

// .service-element-prestations-content{
//   text-align: center;
//   padding: 5px;
//   font-size: 14px;
// }

// .service-element-events-content{
//   text-align: center;
//   margin: 10px;
//   padding: 5px;
//   font-size: 14px;
// }

// .service-element-prestations{
//   background-color: white;
//       ul{
//         list-style-type: none;
//         padding-left : 5px;
//       }
//       li{
//         margin: 25px 0px;
//         font-size: 18px;
//         font-style: bolder;
//       }
// text-align: center;
//   .details{
//     font-size: 12px;
//     color: rgb(100,100,100);
// }
//   .commencer-formation-rse{
//     font-weight: bolder;
//   a{
//     color: #6B9F31;
//     font-size: 1.1em;

//   }

// }
// }

// .service-element-events{
//   margin-top: 30px;
// }

// .service-contact{
//   margin-top: 20px;
//   border-bottom-style: solid;
//   }

// .service-subscription{
//   margin-top: 30px;
//   }

// .service-contact-email{
//   a{
//     color: rgb(200,200,200)
//   }
// }








