// GENERIQUE
body {
  font: 20px Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

a {
color: white;
text-decoration: none;
letter-spacing: 1px;
 }



 a:hover {
color: rgb(200,200,200);
text-decoration: none;
letter-spacing: 1px;
 }

  .reseaux i{
  color: grey;
 }


 .avatar-middle{
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

 .avatar-big{
  border-radius: 50%;
  object-fit: cover;
  width: 20vw ;
  height: 20vw;
  max-width: 140px;
  max-height: 140px;
  margin: 5px
 }




 #urgence-contact{
  color: rgb(200,200,200);
  background-color: white;
  a{
    color:rgb(200,200,200);
  }
  a:hover{
    color:rgb(100,100,100);
  }
 }

// BANNER

.banner{
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: rgb(270,270,270);
  background-size: 500px 150px;
  height: 100%;
  padding: 130px 10px;
  border-bottom-style: solid;
  border-color: rgb(240,240,240)
}

.banner-text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.banner-content {
  text-align: center;
  h2{
    color: rgb(40,40,40);
    font-size: 36px;
  }
  h4{
    color: rgb(40,40,40);
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px rgb(200,200,200);
  }
  a{
    margin-top: 20px;
    font-size: 22px;
  }
}

.banner-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(130vh - 100px);
}

.banner-img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  height: 650px;
  width: 400px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(50,50,50);
}


//SERVICES SECTION
// .services-container{
//   padding : 50px;
//   color: rgb(40,40,40);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   h2{
//     font-size: 24px;
//     padding-bottom: 30px;
//   }
//   margin: auto;
// }

// .services-element{
//   box-shadow: 1px 1px 3px rgb(200,200,200) ;
//   height: 300px;
//   width: 300px;
//   margin: auto;
//   position : relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 30px;
//   background-color: rgb(260,260,260);
//   h4{
//     color : rgb(40,40,40);
//     position: absolute;
//     bottom: 40px;
//     left: 40px;
//     font-size: 90px;
//     font-weight: lighter;
//     text-shadow: 1px 1px 3px rgba(200,200,200,0.6);
//     transition: 0.4s;
//   }
//   background-size: 300px 50px;
//   background-position: top;
//   background-repeat: no-repeat;
// }

// .services-element:hover{
//     margin-bottom: 30px;
//   h4{
//     position: absolute;
//     bottom: 30px;
//     left: 40px;
//     transition: 0.4s;
//   }
// }



a:hover {
text-decoration: none;
  }

.color-commerce{
  background-color: #BCA371;
}

.color-agroe{
    background-color: #6A9F31;
}

.color-web{
    background-color: #C97064;
}

.engage{
  color: #6A9F31;
}

.visionnary{
  color: #C97064;
}

// // LOCALISTION

.events{
  padding: 50px 0px 100px 0px; ;
  h1{
    margin-bottom: 60px;
  }
}

.events-content{
}

 .event{
  text-shadow: 0 1px 3px rgba(200,200,200,0.6);
  height: 270px;
  width: 350px;
  position: relative;
  background-position: cover;
  background-size: 100% 100%;
  background-color: rgb(220,220,220);
  padding: 20px;
  margin: 10px auto;
  border-radius: 4px;
  color: rgb(260,260,260);
 }

.event-date{
  position: absolute;
  top: 10px;
  left : 10px;
  font-size: 15px;
  font-weight: lighter;
}

 .event-type{
  position: absolute;
  top: 85px;
  left : 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-size: contain;
 }

.event-title{
  position: absolute;
  top: 115px;
  left : 10px;
  font-size: 24px;
}

.event-title2{
  position: absolute;
  top: 145px;
  left : 10px;
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.7;
  text-align: left;
}

.event-organiser{
  position: absolute;
  top : 10px;
  right : 10px;
  font-size: 16px;
}

.event-address{
  position: absolute;
  top : 30px;
  right : 10px;
  font-size: 15px;
  font-weight: lighter;
}

 .event-registration-button{
   position: absolute;
   bottom: 10px;
   right : 10px;
 }

#services{
  background-color: rgb(240,240,240);
  padding: 50px;
  padding-bottom: 80px;
}

.services-content{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.service-element{
  display: flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;
  width: 270px;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 30px auto;
  box-shadow: 1px 1px 3px rgb(105,105,105);
  transition: box-shadow margin-top 0.2s;
}

.service-element:hover{
  margin-top: 27px;
  box-shadow: 2px 2px 6px rgb(10,10,10);
  transition: box-shadow margin-top 0.2s;
}

.service-title{
  border-bottom-style: solid;
  width: 250px;
  padding-top: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}

.service-description{

}

.service-element-prestations-content{
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}

.service-element-events-content{
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}

.service-element-prestations{
      ul{
        list-style-type: none;
        padding-left : 5px;
      }
      li{
        margin: 25px 0px;
        font-size: 18px;
        font-style: bolder;
      }
text-align: left;
  .details{
    font-size: 16px;
    color: rgb(100,100,100);
}
}

.service-element-events{
  margin-top: 30px;
}

.service-contact{
  margin-top: 30px;
  }

.service-subscription{
  margin-top: 30px;
  }

.service-contact-email{
  a{
    color: rgb(200,200,200)
  }
}

.event-element{
  margin: 10px 0px;
  .event-date{
    font-weight: bolder;
  }
  .event-inscription p{
    font-style: italic;
    }
  .event-inscription a{
    color: rgb(200,200,200);
    }
}

.prestation-element{
  margin: 10px 0px;
  font-weight: bolder;
}

.adhesion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  h1{
    padding-top: 50px;
    padding-bottom: 30px;
  }
  padding-bottom: 80px;
}

.adhesion-title{
  background-color: rgba(102,155,47,0.2);
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200,200,200);
  font-size: 24px;
}

.adhesion-content{
   p{
    color: black;
  }
  background-color: rgb(270,270,270);
  width: 90%;
  max-width: 500px;
  border-radius: 1px;
  text-align: center;
}


 .service-offer{
 }

  .service-offer-content{
    padding: 40px auto;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
    h5{
      font-size: calc(7px + 0.9vw);
      margin: 0px 5px;
    }
    a{
      margin: 70px 0px;
    }
    table{
      width: 100% ;
      margin: 0px 5px calc(30px + 2vw) 5px;
      font-size: calc(7px + 1.2vw);
      max-font-size: 10px;
      th{
        width: 20% ;
        padding: 5px 0px;
        text-align: center;
      }
      tbody{
        td{
        text-align: center;
        padding: 5px 0px;
        font-size: calc(7px + 0.5vw);
       }
      }
      tfoot{
        td{
        padding: 5px 0px;
        text-align: center;
      }
      }
    }
 }


.logos-soutiens-resize{
  max-height: 70px;
  height: 7vw;
  margin: 3vw 3vw;
}




 .card-process-text{
 font-size: 16px;
}

.questions-container{
  h2{
    padding-top: 50px;
    padding-bottom: 30px;
  }
     padding-bottom: 100px;
}







