// GENERIQUE
body {
  font: 20px Helvetica, sans-serif;
  color: rgb(100,100,100);
  text-align: center;
  background-color: grey;
}

 a {
   text-decoration: none;
   letter-spacing: 1px;
   color:rgb(220,220,220);
  }

 a:hover {
   color: rgb(200,200,200);
   text-decoration: none;
//   letter-spacing: 1px;
  }

h3{
    padding: 30px 0px 30px 0px;
    color: rgb(100,100,100);
  }

.btn-register{
  background-color: #6A9F31;
  border-style: solid;
  border-radius: 4px;
  opacity: 0.9;
  padding: 10px 20px;
  font-size: 30px;
  margin-top: 80px 200px;
  color: white;
  box-shadow: 1px 1px 3px rgb(200,200,200);
}

.btn-register:hover{
  opacity: 1;
  color: white;
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

// BANNER

#banner{
  background-color: rgb(220,240,210);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-content {
  text-align: center;
  h1{
    padding-top: 20px;
    color: rgb(210,210,210);
    font-size: calc(25px + 0.7vw);
    font-weight: bolder;
  }
  h2{
    color: rgb(270,270,270);
    font-size: 22px;
    padding-bottom: 10px;
  }
  a{
    font-size: 18px;
    color: white;
    box-shadow: 1px 1px 3px rgb(105,105,105);
    background-color: #6A9F31;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 4px
  }
  a:hover{
    opacity: 0.9;
    font-weight: bolder;
  }
}

.engage{
  color: #6A9F31;
}

.engage-back{
  background-color : #6A9F31;
  opacity: 0.9;
  color: white;
}

.engage-back:hover{
  opacity: 1;
  color: white;
}

.title-big{
  font-weight: normal;
}


.visionnary{
  color: #C97064;
}

.experts{
  color: rgb(100,100,100);
}

.experts-back{
  background-color : #C97064;
  color: white;
  opacity: 0.9;
}

.experts-back:hover{
  opacity: 1;
}



.visionnary-back{
  background-color : #C97064;
  color: white;
  opacity: 0.9;
}

.visionnary-back:hover{
  opacity: 1;
  color: white;
}



// testimanial
#testimanial{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  padding: 100px 20px;
  background-color: rgb(20,20,20);
  #testimanial-content{
    width: 700px;
    color: rgb(150,150,150);
    .quote{
      color: rgb(255,255,255);
      font-style: italic;
      font-weight: bolder;
      line-height: 25px;
    }
  }
}


// events


#events{
  background-color: rgb(240,240,240);
  display: flex;
  justify-content: space-around;
  a{
    color: rgb(150,150,150);
  }
  a:hover{
    color: rgb(100,100,100);
  }
  h3{
    color: rgb(100,100,100);
  }
}
  #special-offer{
    color: black;
}

.events-content{
  width: 600px;
  padding: 20px 20px;
}

.events-image-container{
  margin: 120px 20px;
  width:  400px;
  object-fit: cover;
  border-radius: 5px;
  overflow:hidden;
  background-color: white;
  img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}


@media screen and (max-width: 900px) {
  #events{
  display: block;
  }
  .events-content{
  width: 100%;
  h5{
    margin: 5px 5px 20px 5px;
  }
  h3{
    padding-bottom: 0px;
  }
}
  .events-image-container{
    margin: 0px;
    padding:0px;
    width: 0px;
    height: 0px;
    img{
    width:  0px;
    height: 0px;
  }
}
}




.sib-form-block button{
  font-size:16px;
  text-align:center;
  font-weight:700;
  color: rgb(40,40,40);
  background-color:#FFFFFF;
  border-radius:3px;
  border-style: solid;
  border-color: #e2e2e2;
}

// pas gratuit
#message-pourquoi-pas-gratuit-container{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(240,240,240);
}

#message-pourquoi-pas-gratuit-content{
  padding: 100px 10px;
  p{
    padding: 5px;
    color: rgb(100,100,100);
    max-width: 700px;
  }
  p strong{
    color: rgb(50,50,50);
  }
  h3{
    padding-bottom: 30px
  }
  a{
    color: #6A9F31;
  }
  a:hover{
    color: rgb(105,105,105);
  }
  #message-mission{
    font-style: italic;
  }
}

.btn-link-next-section{
  color: rgb(205,205,205);
}




// partenaires
#partenaires{
  background-color: white;
  padding: 0px 0px 70px 0px;
  .count-participants{
    color: rgb(260,260,260);
    font-weight: bolder;
    vertical-align: text-top;
  }
  h3{
    background-color: #6A9F31;
    color: rgb(270,270,270);
    padding: 50px 50px;
    margin: 0px;
    font-size: 20px;
  }
  a{
    margin: 5vw 5vw;
    font-size: 20px;
    }
  .logos-soutiens-resize {
  max-height: 50px;
  max-width: 150px;
  height: 7vw;
  margin: 2vw 3vw;
  }
}

.img-events{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  .images-events-resize {
    height: 400px;
  }
}



#newsletter-container{
  background-color: #6A9F31;
  display: flex;
}

#newsletter{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 25px;
}

#newsletter-formulaire-container{
  flex : 1;
  padding: 30px 30px;
}

.newsletter-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#newsletter-image-container{
  flex : 1;
  overflow:hidden;
  margin: 100px 50px;
  width: 100%;
  object-fit: cover;
  img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;

  }
}


@media screen and (max-width: 1500px) {
  #newsletter{
  display: block;
  }
  .newsletter-grid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
  #newsletter-image-container{
    margin: 0px;
    padding:0px;
    width: 0px;
    img{
    width:  0px;
    width: 0%;
  }
}
}





//imgs-wall

.imgs-wall{
  img{
    height: 200px;
    object-fit: cover;
    width: 360px;
  }
}


//adhesion
#adhesion-agroe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: white;
  padding: 30px 5px 100px 5px;
  .offer1{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 3px rgb(100,100,100);
  }
  .offer2{
    background-color: rgb(40,40,40);
    box-shadow: 1px 1px 3px rgb(100,100,100);
    color: rgb(220,220,220);
    h5
    {font-weight: lighter;}
  }
  .join{
    opacity: 0.9;
    h4{
      padding-top: 40px;
    }
    p{
      font-size: 13px;
      font-style: italic;
    }
    margin: 20px auto;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    .offer-buttons{
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: 1px;
      margin: 30px 0px;
      padding: 30px 0px;
      width: 300px;
      p{
        margin: 10px 0px;
        color: rgb(150,150,150);
      }
      a{
        font-size: 14px;
        margin: 10px 0px;
      }
    }
    a{
        font-size: 10px;
      }
    .minilien a{
      color : grey;
    }
      .minilien a:hover{
      color : black;
    }
  }
  .join:hover{
    opacity: 1;
    transition: opacity 0.1s ease;
  }
}

//contact

#contact-info-container{
    background-color: #9D9D9E;
    margin: 0px;
    padding: 0px;
    h3{
    padding: 50px;
    color: white;
    margin: 0px;
  }
  h5{
    color: white;
    font-style: italic;
    padding-top: 50px;
    line-height: 25px;
    margin-top: 0px;
  }
}

#contact-info{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#contact-info-tel{
  a{
    color: white;
  }
      a:hover{
  color: black;
  }
  margin: 10px auto;
  width: 200px;
}
#contact-info-email{
  margin: 10px auto;
  width: 200px;
  a{
    color: white;
  }
      a:hover{
  color: black;
  }

}
#image-contact-info{
  flex : 1;
  overflow:hidden;
  object-fit: cover;
  width: 700px;
  img{
    object-fit: cover;
    width: 700px;
  }
}

@media screen and (max-width: 900px) {
  #contact-info-container{
  display: block;
  }

  #image-contact-info img{
    width: 0px;
  }
}

#partenaires-instit{
  background-color: white;
  margin : 0px;
  h3{
    margin-top: 0px;
  }
  a{
    margin: 5vw 5vw;
    font-size: 30px;
    }
  .logos-soutiens-resize {
  max-height: 50px;
  max-width: 130px;
  height: 7vw;
  margin: 2vw 3vw;
  }
}



#team-container{
  margin-top: 50px;
  color: white;
  font-size: 15px;
  .team-elements{
    margin: 50px;
    width-max: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .team-element{
      max-width: 170px;
      margin: 0px 30px;
      .team-theme{
        font-style: italic;
        padding-bottom: 20px;
      }
      .img-bg{
        width:100px;
        overflow: hidden;
        height:100px;
        margin : 15px auto;
      img{
        width: 100%;
        height: auto;
        }
      }
        .team-name{
          font-size: 18px;
        }
        .team-job{
          font-weight: lighter;
          margin-bottom: 20px;
        }
    }
  }
}


  // NOT USE
//   #services{
//   background-size: cover;
//   background-position: center;
//   padding: 50px;
//   padding-bottom: 100px;
//   h1{
//   }
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items:center;
// }

// .services-content{
//   width: 95%;
//   max-width: 800px;
//   margin: 0 auto;
// }


// .service-element{
//   display: flex;
//   flex-direction : column;
//   align-items: center;
//   justify-content: center;
//   width: 270px;
//   background-color: white;
//   border-radius: 4px;
//   padding: 5px;
//   margin: 30px auto;
//   box-shadow: 1px 1px 3px rgb(105,105,105);
//   transition: box-shadow margin-top 0.2s;
// }

// .service-element:hover{
//   margin-top: 27px;
//   box-shadow: 2px 2px 6px rgb(10,10,10);
//   transition: box-shadow margin-top 0.2s;
// }

// .service-title{
//   padding-top: 10px;
//   font-size: 24px;
//   text-align: center;
// }

// .service-description{

// }

// .service-button{
//   height: 150px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 24px;
//   padding: 70px 100px;
//   margin: 0px;
//   color: white;
//   text-shadow: 1px 1px 1px rgb(240,240,240)
// }



// .service-button-bg{
//   padding: 0px;
//   background-size: cover;
//   background-position: bottom;
// }

// .service-button:hover{
//   font-size: 25px;
//   transition: 0.1s ease;
// }

// .service-element-prestations-content{
//   text-align: center;
//   padding: 5px;
//   font-size: 14px;
// }

// .service-element-events-content{
//   text-align: center;
//   margin: 10px;
//   padding: 5px;
//   font-size: 14px;
// }

// .service-element-prestations{
//   background-color: white;
//       ul{
//         list-style-type: none;
//         padding-left : 5px;
//       }
//       li{
//         margin: 25px 0px;
//         font-size: 18px;
//         font-style: bolder;
//       }
// text-align: center;
//   .details{
//     font-size: 12px;
//     color: rgb(100,100,100);
// }
//   .commencer-formation-rse{
//     font-weight: bolder;
//   a{
//     color: #6B9F31;
//     font-size: 1.1em;

//   }

// }
// }

// .service-element-events{
//   margin-top: 30px;
// }

// .service-contact{
//   margin-top: 20px;
//   border-bottom-style: solid;
//   }

// .service-subscription{
//   margin-top: 30px;
//   }

// .service-contact-email{
//   a{
//     color: rgb(200,200,200)
//   }
// }








