// Actu
.ressources-container{
  padding-top: 50px;
    h3{color: white;}
    h4{
      padding: 30px;
      color: green
    }
}

#actu{
  h3{
    color: white;
  }
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  a{
    color: rgb(180,180,180);
    font-size: 15px;
  }
  #medium-widget{

     a{
      font-size: 20px;
      color : rgb(180,180,180);
      line-height: 1;
      }
      a:hover{
        color : rgb(140,140,140);
      }
    }
  }

  // Actu
#network{
  h3{
  }
  padding: 50px 10px;
  width: 500px;
  a{
    color: rgb(180,180,180);
    font-size: 15px;
  }
  #medium-widget{
    text-align: left;
    max-width: 800px;
     a{
      font-size: 20px;
      color : rgb(180,180,180);
      line-height: 1;
      }
      a:hover{
        color : rgb(140,140,140);
      }
    }
  }
