// GENERIQUE
body {
  font: 20px Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 100px;
}

a {
color: rgb(200,200,200);
text-decoration: none;
letter-spacing: 1px;
 }

 .h2{
  font: 20px Helvetica, sans-serif;
  color: #333;
  text-align: center;
 }

.extra-links2 a:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgb(200,200,200);
}

//BANNER
.temp-banner2{
  display: flex;
  flex-direction : column;
   align-items: center;
   justify-content: center;
  height: calc(80vh - 100px);
  height-min: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: linear-gradient(225deg, rgba(0,151,168,0.3) 10%, rgba(10,40,40,0.6) 20%), url('https://sloanreview.mit.edu/content/uploads/2017/11/DL-SU-Unruh-Digital-Transformation-Sustainability-Climate-Change-Digitalization-World-Global-Business-Technology-1200-1200x627.jpg')
}

.temp-banner-content2 {
  text-align: left;
  padding : 20px;
}

.temp-banner-content2 h4{
  color: rgb(271,271,271);
  letter-spacing: 3px;
}

.temp-banner-content2 strong{
  // color: rgb(271,271,271);
  color : #DADADA;
  margin-bottom: 40px;
  letter-spacing: 3px;
  font-size: 40px;
}

.temp-banner-content2 h1{
  color: rgb(271,271,271);
  margin-bottom: 20px;
}

.extra-links2 a{
  font-size: 15px;
}

// CALLS TO ACTIONS
.cta-container2{
  margin : 40px 1;
  color: #616668;
  min-height: 400px;
  .extra-links a{
    color: rgb(200,200,200);

  }
}

.btn-position2{

 display: flex;
 text-align: center;
 justify-content: center;
 transition: transform .1s;
}

.btn-position2:hover {
 transform: scale(1.01);
}

.btn-position2 a:hover {
 color: rgb(280,280,280);
 text-decoration: none;
 margin: 0px auto;
}

.call-to-action2{
  display: flex;
  text-align: center;
  justify-content: center;
}

.color-offre{
  width: 270px;
  height: 50px;
  background-color: $red;
  color: white;
  border-radius:4px;
  box-shadow: 1px 1px 3px grey;
}

.btn-position3{
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgb(171,171,171);
  width: 370px;
  height: 270px;
  background-color: rgb(251,251,251);
  padding : 5px;
  margin: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-position3:hover{
 transform: scale(1.01);
 background-color: rgb(280,280,280);
}

.btn-position3 a:hover {
 text-decoration: none;
  p {
    color: rgb(180,180,180);
 }
}

.color-trans2 h2{
  color: $green;
}

.color-rse2 h2{
    color: $blue;
}

.color-digital2 h2{
    color: $red;
}

.opacity-light2{
  opacity: 0.7;
}


// LOCALISTION

.event-container{
  margin-top: 40px;
  color: #616668;
}

 .event{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;
  background-color : white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px grey;
 }

 .event-main{
    width: 400px;
 }

 .event-title{
  font-size: 15px;
  font-weight: bolder;
 }

.event-intro{
  .salon{
  color: $green;
  }
  .club{
  color: $blue;
  }
 }

 .event-address{
  font-size: 10px;
 }

 .tools-container{
  color: #616668;
  margin: 90px;
}



.tool-size{
  height: 100px;
}









