// GENERIQUE
body {
  font: 20px Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 100px;
}

a {
color: rgb(200,200,200);
text-decoration: none;
letter-spacing: 1px;
 }

.extra-links a:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgb(200,200,200);
}

//BANNER
  .temp-banner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: calc(80vh - 100px);
  height-min: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: linear-gradient(225deg, rgba(0,151,168,0.3) 10%, rgba(10,40,40,0.6) 20%), url('https://sloanreview.mit.edu/content/uploads/2017/11/DL-SU-Unruh-Digital-Transformation-Sustainability-Climate-Change-Digitalization-World-Global-Business-Technology-1200-1200x627.jpg')
}

.temp-banner-content {
  text-align: left;
  width: 900px;
  padding : 20px;
}

.temp-banner-content h4{
  color: rgb(271,271,271);
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.temp-banner-content strong{
  // color: rgb(271,271,271);
  color : #DADADA;
  margin-bottom: 40px;
  letter-spacing: 3px;
  font-size: 40px;
}

.temp-banner-content h1{
  color: rgb(271,271,271);
  margin-bottom: 40px;
}

.extra-links a{
  font-size: 15px;
  color: rgb(271,271,271);
}

// CALLS TO ACTIONS
.cta-container{
  margin : 40px 10px;
  color: #616668;
  .extra-links a{
    color: rgb(200,200,200);
  }
}

.btn-position{
 display: flex;
 text-align: center;
 justify-content: center;
 transition: transform .1s;
}

.btn-position:hover {
 transform: scale(1.01);
}

.btn-position a:hover {
 color: rgb(280,280,280);
 text-decoration: none;
}

.call-to-action{
  display: flex;
  text-align: center;
  justify-content: center;
}

.color-rse{
  width: 300px;
  background-color: #9A9A98;
  padding: 4px;
  color: white;
}

.color-digital{
  background-color: #669C2D;
  padding: 4px;
  color: white;
  width: 300px;
}

.btn-position{
  margin: 20px 0px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(171,171,171);
  z-index: 3;
}

.opacity-light{
  opacity: 0.7;
}


// LOCALISTION

.localisation-container {
  // display: flex;
  padding: 20px 0px;
  background-color: #1D7D6A;
}

.localisation-map{
  margin: 30px;
}

.localisation-info{
  margin: 30px;
  color: white;
}

.social-container a{
    color: rgb(200,200,200);
    padding: 20px;
}
.social-container h3{
      color: #616668;
  }

.social-list-entreprises{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 }







