.agroclubrse-banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: rgb(270,270,270);
}

.agroclubrse-banner-content{
  width: 500px;
  .btn-adhesion{
    margin-bottom: 10px;
  }
  p{
    font-size: 15px;
  }
}

.agroclubrse-meetups-presentation{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meetups-description{
  width: 50%
}
