</br>
<div class="row">
  <div class="col-md-6">
    <iframe width=600 height=400 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTlu_KhnlpsjKeiSiIvsewcZssS7AKrf9eqfpy1fWGtcHWCVbDWfmgGX5KBFKPio8dg8P6UGXvNglSI/pubhtml?widget=true&amp;headers=false"></iframe>
  </div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKrYWVYaACuY7tn1EU5VhRj1A60UiC0qPxnbKI5hWzx05kzQ/viewform?embedded=true" width="400" height="403" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  </div>
</div>






<div class="users-index-container">
  <div class="users-index-content">
    <div class="row">
      <% @users.where(admin: nil).each do |u| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'shared/user_card', user: u %>
        </div>
      <% end %>
    </div>
  </div>
</div>



