<div id="contact-list-container">
  <div id="contacts-list">
    <iframe width=1200 height=700 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTlu_KhnlpsjKeiSiIvsewcZssS7AKrf9eqfpy1fWGtcHWCVbDWfmgGX5KBFKPio8dg8P6UGXvNglSI/pubhtml?gid=2102321099&single=true"></iframe>
  </div>
</div>







<div class="users-index-container">
  <div class="users-index-content">
    <div class="row">
      <% @users.where(admin: nil).each do |u| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'shared/user_card', user: u %>
        </div>
      <% end %>
    </div>
  </div>
</div>



