
<iframe width=800 height=400 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTlu_KhnlpsjKeiSiIvsewcZssS7AKrf9eqfpy1fWGtcHWCVbDWfmgGX5KBFKPio8dg8P6UGXvNglSI/pubhtml?widget=true&amp;headers=false"></iframe>





<div class="users-index-container">
  <div class="users-index-content">
    <div class="row">
      <% @users.where(admin: nil).each do |u| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'shared/user_card', user: u %>
        </div>
      <% end %>
    </div>
  </div>
</div>



