
<%= render 'shared/user_card', user: @user %>

<% if current_user === @user || current_user.admin === true %>

  <p>
    <%= link_to("Edit", edit_user_registration_path, class: "btn btn-info") %>
  </p>

  <% end %>
