<div class="user-show-container">
  <div class="user-show-content">
      <%= render 'shared/user_card', user: @user %>
    <div class="user-show-edit-button">
      <% if current_user === @user || current_user.admin === true %>
        <p>
          <%= link_to("Edit", edit_user_registration_path, class: "btn btn-info") %>
        </p>
      <% end %>
    </div>
  </div>
</div>

