<div class="user-space-introduction-container">
  <div class="user-space-introduction-content">
    <p>
      Bonjour <%= current_user.first_name %>,
    </p>
    <p>
      Si ce n'est pas fait, merci de remplir votre <strong><%= link_to "profil", user_path(current_user) %></strong>.
    </p>
    </br>
    <ul>
      <li>Dans la section <strong> <%= link_to "évènements", events_path() %> </strong> permet de
        <ul>
          <li>s'inscrire aux futures évènements.</li>
          <li>commenter sur les évènements déjà passés.</li>
        </ul>
      </li>
      <li> Dans la section Adhérents
        <ul>
          <li>Un fichier excel liste tous les contacts des entreprises du club.</li>
          <li>La vignette des personnes ayant déjà créé un profil sur l'espace "AgroClub".</li>
        </ul>
      </li>
      <li> Ressources
        <ul>
          <li>Un fichier excel avec toutes les ressources issues des AgroNotes.</li>
          <li>Notre Blog</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
