<div class="col-xs-12 col-md-4">
  <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'planet.jpg'%>);">
    <div class="event-date">
      <%= event.name %>
    </div>
    <div class="event-type salon">AgroClubRSE #7</div>
    <div class="event-title">PLV et Développement durable</div>
    <div class="event-title2">Présence de Impact PLV, POPAI, Coopérative MU...</div>
    <div class=event-organiser>Org: Agroé / Fizzy Distribution </div>
    <div class="event-address">Sars-et-Rosières (59)</div>
    <div class="event-registration-button">
      <a href="https://www.eventbrite.fr/e/billets-rencontre-n7-de-lagroclubrse-plv-et-developpement-durable-59814588043" class="btn color-commerce"> Inscription </a>
    </div>
  </div>
</div>
