

<div id="newsletter-container">
  <div id="newsletter">
    <div id="newsletter-image-container" class="newsletter-grid">
      <div id="newletter-image">
        <%= image_tag 'salad.jpg' %>
      </div>
    </div>
    <div id="newsletter-formulaire-container" class="newsletter-grid">
      <div id="newsletter-formulaire">
          <%= render '/shared/form_email2' %>
      </div>
    </div>
  </div>
</div>

