<div class="footer-container">
  <div class="up-footer">
    <div class="say-connected">
      <strong> Pôle d'Excellence Agroé </strong>
      14 rue Neuve
      BP 70175
      59403 CAMBRAI Cedex
      Tél. : 03.27.70.15.80
    </div>
    <div class="social-networks">
      <%= link_to '<i class="fab fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
      <%= link_to '<i class="fab fa-linkedin fa-2x"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
      <%= link_to '<i class="fab fa-facebook fa-2x"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
    </div>
  </div>
  <div class="down-footer">
    <div class="legal-mention first-element-down-footer space-elements-down-footer">
      Mentions Légales
    </div> I
    <div class="credits space-elements-down-footer">
      Credits
    </div> I
    <div class="realisation last-element-down-footer space-elements-down-footer">
      Agroé et Techmarketing <i class="far fa-copyright"></i>
    </div>
  </div>
</div>
