<div class="footer-container">
  <div class="up-footer">
    <div class="say-connected">
      <strong> Pôle d'Excellence Agroé </strong>
      14 rue Neuve
      BP 70175
      59403 CAMBRAI Cedex
      Tél. : 03.27.70.15.80
    </div>
  </div>
  <div class="down-footer">
    <div class="legal-mention first-element-down-footer space-elements-down-footer">
      Mentions Légales
    </div> I
    <div class="credits space-elements-down-footer">
      Credits
    </div> I
    <div class="realisation last-element-down-footer space-elements-down-footer">
      Agroé et Techmarketing <i class="far fa-copyright"></i>
    </div>
  </div>
</div>
