<div id="services-container">
  <div id="services-content">
    <div id="services-title">
      Les services du pôle Agroé
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-calendar-alt fa-3x"></i>
            </div>
            <div class="service-title">
              DÉCOUVREZ
            </div>
            <div class="service-description">
              <p>Tout au long de l'année nous proposons des témoignages d'entreprises, des visites de sites industriels et de salons, des webinaires et des rencontres avec des experts sur nos thématiques d'intérêt : la RSE, le développement commercial et le numérique.</p>
            </div>
            <div class="service-link">
              <a href="events">Nos Prochains évènements</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-share-alt fa-3x"></i>
            </div>
            <div class="service-title">
              ÉCHANGEZ
            </div>
            <div class="service-description">
              <p> Nous rassemblons une communauté d'entreprises agroalimentaires très diversifiée mais souhaitant impacter positivement la société et partager ses expériences. Vous cherchez un conseil ? vous trouverez un industriel pour vous aider ! </p>
            </div>
            <div class="service-link">
              <a href=<%= root_path(anchor: 'partenaires') %>> Les entreprises</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-people-carry fa-3x"></i>
            </div>
            <div class="service-title">
              PROGRESSEZ
            </div>
            <div class="service-description">
              <p>Un siteweb à repenser ? Une stratégie RSE à structurer ? une étude de marché à faire ? Nous aidons nos adhérents à avancer sur certains dossiers.   </p>
            </div>
            <div class="service-link">
              <a href=<%= root_path(anchor: 'team-container') %>>Nous contacter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

