<div class="sticky-options-container">
  <div class="sticky-options-elements">
    <div class="color-element-web sticky-element">
      <a href="web.html">WEB</a>
    </div>
    <div class="color-element-rse sticky-element">
      <a href="rse.html">RSE</a>
    </div>
    <div class="color-element-commerce sticky-element">
      <a href="commerce.html">DEV</a>
    </div>
  </div>
</div>
