<div class="sticky-options-container">
  <div class="sticky-options-elements">
    <div class="color-element-web sticky-element">
      <a href="web.html">WEB</a>
    </div>
    <div class="color-element-rse sticky-element">
      <a href="rse.html">RSE</a>
    </div>
    <div class="color-element-commerce sticky-element">
      <a href="commerce.html">DEV</a>
    </div>
    <div class="sticky-element element-blue">
    <%= link_to '<i class="fab fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
    </div>
    <div class="sticky-element element-blue">
    <%= link_to '<i class="fab fa-linkedin fa-2x"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
    </div>
    <div class="sticky-element element-blue">
      <%= link_to '<i class="fab fa-facebook fa-2x"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
    </div>
  </div>
</div>
