<div class="section s-white">
    <% if !user_signed_in? %>
    <div class="section-description">
    Évènements à venir
    </div>
    <% end %>
    <% @events.where('date >= ?', Date.today.to_s).where('event_type != ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_listing_card', event: e %>
    <% end %>
  <div class="events-list-content">
    <h3>Évènements passés </h3>
    <% @events.where('date < ?', Date.today.to_s).where('event_type != ?', 'contenu').order(date: :desc).each do |e| %>
       <%= render 'shared/events/event_listing_card', event: e %>
    <% end %>
  </div>
</div>

<div id="adhesion-agroe">
      <h3>Nous rejoindre</h3>
      <div class="adhesion-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="join offer1">
              <div class="imgs-wall">
                <%= image_tag 'Heineken-group-mini.jpg'%>
              </div>
              <h4><strong>Adhésion Agroé</strong></h4>
              <p>Pour testez nos services et rencontrer la communauté.</p>
              100 &#8364
              <div class="offer-buttons">
                <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559853153/bulletin-adhesion_Agroe_06062019.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                 <p>ou</p>
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroe" class="btn btn-default"> Adhésion en ligne </a>

              </div>
              <h5><i class="fas fa-check"></i> 1 an d'accès aux évènements hors "AgroClub" </h5>
              <h5><i class="fas fa-check"></i> 1 an d'abonnement à l'AgroNote. </br> <span class= minilien><a href="http://sh1.sendinblue.com/7rd6dn0jfsc.html?t=1557864962">-> exemplaire test <-</a></span> </h5>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="join offer2">
              <div class="imgs-wall">
                <%= image_tag 'agroe_club_davigel.JPG'%>
              </div>
              <h4><strong>Offre "Agro Club"</strong></h4>
              <p>Pour échanger plus efficacement et monter des projets.</p>
                  à partir de 100 &#8364
              <div class="offer-buttons">
                         <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                         <p>ou</p>
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>


              </div>
              <h5><i class="fas fa-check"></i> Tous les évènements pendant 1 an.</h5>
              <h5><i class="fas fa-check"></i> La veille sur nos thématiques rassemblée et triée.</h5>
              <h5><i class="fas fa-check"></i> Les coordonnées des adhérents avec leurs compétences associées. </h5>
              <h5><i class="fas fa-check"></i> Accès à la liste email et au WhatsApp. </h5>
              <h5><i class="fas fa-check"></i> Accès à l'accompagnement dans le montage de dossiers de financement de projets collectifs. </h5>
            </div>
          </div>
        </div>
      </div>
    </div>



