
<div id="president-container">
  <div class="president-elements">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 president-profil">
        <h2> Un président engagé </h2>
        <p>
          <%= image_tag 'http://www.agroe.fr/img/michel-lienard.jpg', class:' avatar-medium' %>
        </p>
        <p>
          Michel Liénard, Président d'Agroé
        </p>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="president-discours">
          <p>
            "Depuis sa création, <span class="highlight">Agroé accompagne les PME et surtout les TPE agroalimentaires dans leur développement</span>, leur propose d’anticiper les grands enjeux de demain en leur apportant des réponses à leurs problématiques quotidiennes, plus spécifiquement en matière de développement durable et d’export, deux axes stratégiques que le pôle a jugé essentiel à leur croissance.
          </p>
          <p>
            Agroé veille également depuis ses débuts à <span class="highlight">créer une dynamique collective régionale</span> en collaborant avec ses nombreux partenaires experts régionaux.
          </p>
          <p>
            Ma vision d’entrepreneur est en effet le partage et le recours aux compétences de tous pour faire naître des projets ambitieux. C’est pourquoi, je suis très heureux d'être président d’Agroé, bien collectif au service de la filière agroalimentaire, secteur d’excellence régional."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-container">
  <div class="map-elements">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-sm-push-6 map-discours">
        <h2><strong> Un positionnement géographique idéal</strong></h2>
      </div>
      <div class=" col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="map-discours">
          <h5> Nous sommes dans la zone Arras/Cambrai à l'interface entre les anciennes régions Nord Pas-de-Calais et Picarde, au centre de la nouvelle région Hauts-de-France. </h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163347.05584837374!2d2.856219438529217!3d50.23034218682498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd47cf0d87b2cf%3A0xd20ebf55a2864a9!2sP%C3%B4le+d&#39;Excellence+Agro%C3%A9!5e0!3m2!1sen!2sfr!4v1537999110444" width="300" height="300" frameborder="1" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="history-container">
  <div class="history-elements">
    <h2><strong> 10 ans d'expérience sur la filière</strong></h2>
    <h5> Né en 2010 de la volonté de créer une dynamique dédiée à l’agroalimentaire, premier secteur industriel régional, Agroé est une association au service des entreprises de la filière et notamment des TPE et PME.</h5>
  </div>
</div>


