<div id="president-container">
  <div class="president-elements">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 president-profil">
        <h2> Un président engagé </h2>
        <%= image_tag 'http://www.agroe.fr/img/michel-lienard.jpg' %>
        <p>
          <strong>Monsieur Michel Liénard</strong>
        </p>
        <P>Président d'Agroé</p>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="president-discours">
          <p>
            "Depuis sa création, <span class="highlight">Agroé accompagne les PME et surtout les TPE agroalimentaires dans leur développement</span>, leur propose d’anticiper les grands enjeux de demain en leur apportant des réponses à leurs problématiques quotidiennes, plus spécifiquement en matière de développement durable et d’export, deux axes stratégiques que le pôle a jugé essentiel à leur croissance.
          </p>
          <p>
            Agroé veille également depuis ses débuts à <span class="highlight">créer une dynamique collective régionale</span> en collaborant avec ses nombreux partenaires experts régionaux.
          </p>
          <p>
            Ma vision d’entrepreneur est en effet le partage et le recours aux compétences de tous pour faire naître des projets ambitieux. C’est pourquoi, je suis très heureux d'être président d’Agroé, bien collectif au service de la filière agroalimentaire, secteur d’excellence régional."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
