<div id="page-adhesion-agroe">
      <h3><strong> Rejoignez-nous </strong></h3>
      <div class="adhesion-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="join offer1">
              <h4><strong>Offre "Découverte"</strong></h4>
              <p>Pour testez nos services et rencontrer la communauté.</p>
              100 &#8364
              <div class="offer-buttons">
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroe" class="btn btn-register"> Adhésion en ligne </a>
                <p>ou</p>
                <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370572/Adhe%CC%81sion_Decouverte_01062019.pdf" class="btn btn-default"> Télécharger la fiche d'adhésion </a>
              </div>
              <h5><i class="fas fa-check"></i> Accès à <strong>deux</strong> évènements au choix au prix "adhérent". </h5>
              <h5><i class="fas fa-check"></i> 1 an d'abonnement à l'AgroNote. </br> <span class= minilien><a href="http://sh1.sendinblue.com/7rd6dn0jfsc.html?t=1557864962">-> exemplaire test <-</a></span> </h5>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="join offer2">
              <h4><strong>Offre "Agro Club"</strong></h4>
              <p>Pour échanger plus efficacement et monter des projets.</p>
                  à partir de 100 &#8364
              <div class="offer-buttons">
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-register"> Adhésion en ligne </a>
                <p>ou</p>
                <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-default"> Télécharger la fiche d'adhésion </a>
              </div>
              <h5><i class="fas fa-check"></i> <strong>tous</strong> les évènements. </h5>
              <h5><i class="fas fa-check"></i> <strong>toutes les ressources</strong> rassemblées et triées par Agroé.</h5>
              <h5><i class="fas fa-check"></i> les <strong>coordonnées des adhérents</strong> avec leurs <strong>compétences</strong> associées. </h5>
              <h5><i class="fas fa-check"></i> la liste email et le <strong>WhatsApp</strong>. </h5>
              <h5><i class="fas fa-check"></i> l'accompagnement aux dossiers de <strong>financement</strong> de projets collectifs. </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
