<div class="agroclubrse-banner-container">
  <div class="agroclubrse-banner-content">
    <a href="https://drive.google.com/file/d/1ccATke9Ow4gcBZfoCjXuA5uUG0AqbsHo/view?usp=sharing" class="btn btn-success btn-adhesion"> Télécharger la fiche l'adhésion à l'agroclubrse</a>
    <p>pas prêt pour l'adhésion ? <a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6"> abonnez-vous à l'agroNoteRSE </a> c'est gratuit ! </p>
  </div>
</div>
<div class="agroclubrse-meetups-presentation">
  <div class="meetups-description">
    <h2> Des rencontres </h2>
    <p> 4 jeudi après-midi dans l'année, nous nous retrouvons pour écouter des témoignages d'entreprises et des interventions d'experts. Les thèmes RSE traités sont définies par la communauté des adhérents.</p>
    <p>Les prochaines rencontres de l'AgroClubRSE sont : </p>
    <ul>
      <li>
        28 février 2019 chez NORIAP
      </li>
      <li>
        23 Mai 2019 chez Fizzy
      </li>

    </ul>

  </div>
  <div class="meetups-img">
    TEst
  </div>
</div>
<div class="agroclubrse-rse-ressources-presentation">
  <div class="rse-ressources-description">
    <h2> Des ressources </h2>
    <p> Une page web rassemblant l'ensemble des ressources diffusées par l'AgroNoteRSE depuis sa création et trié par thématique </p>
  </div>
  <div class="rse-ressources-img">
  </div>
</div>
<div class="agroclubrse-chat-presentation">
  <div class="chat-description">
    <h2> Des échanges </h2>
    <p> Le club anime une communauté vous permettant d'échanger avec les autres adhérents sur divers sujets. l</p>
  </div>
  <div class="chat-img">
  </div>
</div>
<div class="agroclubrse-boost-presentation">
  <div class="boost-description">
    <h2> Une proximité </h2>
  </div>
  <div class="boost-img">
  </div>
</div>
<div class="agroclubrse-digital-service-presentation">
  <div class="digital-service-description">
    <h2> du digital (comme partout : ) </h2>
  </div>
  <div class="digital-service-img">
  </div>
</div>
