<div class="domains-banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image.shutterstock.com/z/stock-photo-hand-of-a-businessman-reach-out-towards-hand-of-the-nature-621237140.jpg');">
  <div class="white-content">
    <p><span class="big-letters">DEVELOPPEMENT</span></p>
  </div>
</div>
<div class="service-container">
  <h1><strong>Services Gratuits</strong></h1>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-comments fa-2x"></i>
      <h2><strong>On vient vous rencontrer </strong></h2>
    </div>
    <div class="service-description">
      <p> Si vous avez une problématique commerciale, nous venons sur votre site pour échanger et vous faire des propositions. </p>
      <p><a href="" class="btn color-commerce"> Prendre RDV (Doodle de Karine à rajouter) </a></p>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-user-tie fa-2x"></i>
      <h2><strong>Accompagnement aux salons</strong></h2>
    </div>
    <div class="service-description">
      <p> 1 fois par mois, Agroé propose un webinaire de 20 minutes pour présenter les bases de la RSE.
      Cette présentation est suivie d'une session de questions réponses  </p>
      <span class="indisponible">Date de la prochaine session non encore connue </span>
    </div>
  </div>
</div>
<div class="service-transition">
</div>
<div class="service-container white-content grey-background">
  <h1><strong>Services AgroClubRSE</strong></h1>
  <a href="https://lc.cx/adhésion-agroclubrse-2019" class="btn color-rse"> Devenir membre</a>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-users fa-2x"></i>
      <h2><strong>Salons : Service 3 étoiles</strong></h2>
    </div>
    <div class="service-description">
      <p> Préparer sa venue à un salon peut prendre du temps. Agroé se propose de prendre des rendez-vous avec des professionnels correspondant à vos critères. </p>
       <a href="https://www.eventbrite.fr/e/billets-agroclubrse-6-sensibilisation-des-equipes-a-la-consommation-energetique-et-evaluation-des-impacts-55376869708" class="petit-lien-white"> Prochaine rencontre </a>
    </div>
  </div>
  <div class="transition-fin">
    <a href="https://lc.cx/adhésion-agroclubrse-2019" class="btn color-rse"> Devenir membre de l'AgroClubRSE</a>
  </div>
</div>





