<div class="domains-banner-container color-commerce">
  <div class="white-content">
    <p><span class="big-letters">DEVELOPPEMENT</span></p>
  </div>
</div>
<div class="service-container">
  <h1><strong>Services Gratuits</strong></h1>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-comments fa-2x"></i>
      <h2><strong>On vient vous rencontrer </strong></h2>
    </div>
    <div class="service-description">
      <p> Si vous avez une problématique commerciale, nous venons sur votre site pour échanger et vous faire des propositions. </p>
      <p><a href="" class="btn color-commerce"> Prendre RDV (Doodle de Karine à rajouter) </a></p>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-user-tie fa-2x"></i>
      <h2><strong>Accompagnement aux salons</strong></h2>
    </div>
    <div class="service-description">
      <p> 1 fois par mois, Agroé propose un webinaire de 20 minutes pour présenter les bases de la RSE.
      Cette présentation est suivie d'une session de questions réponses  </p>
      <span class="indisponible">Date de la prochaine session non encore connue </span>
    </div>
  </div>
</div>
<div class="service-transition">
</div>
<div class="service-container rse-white-content rse-grey-background">
  <h1><strong>Services AgroClubRSE</strong></h1>
  <a href="https://drive.google.com/file/d/1ccATke9Ow4gcBZfoCjXuA5uUG0AqbsHo/view?usp=sharing" class="btn color-rse"> Devenir membre</a>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-users fa-2x"></i>
      <h2><strong>Les rencontres de l'AgroClubRSE</strong></h2>
    </div>
    <div class="service-description">
      <p> 4 fois par an, les adhérents se retrouvent dans une entreprise pour fair une visite, aborder une thématique RSE et travailler ensemble pour améliorer les services du club. </p>
       <a href="https://www.eventbrite.fr/e/billets-agroclubrse-6-sensibilisation-des-equipes-a-la-consommation-energetique-et-evaluation-des-impacts-55376869708" class="petit-lien-white"> Prochaine rencontre </a>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-video fa-2x"></i>
      <h2><strong>Webinaires "Echanges de bonnes pratiques"</strong></h2>
    </div>
    <div class="service-description">
      <p> Chez agroé, nous connaissons les experties de chacuns de nos adhérents. Nous proposons donc périodiquement à des entreprises souhaitant progresser sur certains points, d'écouter un retour d'expérience d'une entreprise plus avancée. </p>
      <span class="indisponible">Date de la prochaine session non encore connue </span>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-book fa-2x"></i>
      <h2><strong>Toutes les ressources RSE à un seul endroit</strong></h2>
    </div>
    <div class="service-description">
      <p> L'information RSE est compliquée à trouver. Nous proposons donc à nos adhérents un accès à l'ensemble des ressources proposées dans les agroNoteRSE depuis la #1. Les informations sont triées par thématiques et par niveaux de complexité. Si vous êtes débutant, il y a un section spéciale pour vous !</p>
      <span class="indisponible">Bientôt ouvert </span>
    </div>
  </div>
  <div class="transition-fin">
    <a href="https://drive.google.com/file/d/1ccATke9Ow4gcBZfoCjXuA5uUG0AqbsHo/view?usp=sharing" class="btn color-rse"> Devenir membre de l'AgroClubRSE</a>
  </div>
</div>





