<div class="ecosystem-title-container">
  <h2> Tous l'écosystème agroalimentaire régionale</h2>
   <h3>en 1 page </h3>
</div>
<div class="ecosystem-news-container">
  <h4> Dernières News </h4>
  <div class="ecosystem-news-list">
    <div class="row">
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Certia Interface
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E15F28" href="https://twitter.com/Certia_HDF?ref_src=twsrc%5Etfw/media"></a>
      </div>
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Agrosphères
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E91F28" href="https://twitter.com/AgroSpheres?ref_src=twsrc%5Etfw/media"></a>
      </div>
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Agroé
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E35A28" href="https://twitter.com/agroe_i?ref_src=twsrc%5Etfw/media"></a>
      </div>
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Adrianor
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E95B20" href="https://twitter.com/AdrianorHDF?ref_src=twsrc%5Etfw/media"></a>
      </div>
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Euralimentaire
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E95B20" href="https://twitter.com/iwisnie?ref_src=twsrc%5Etfw/media"></a>
      </div>
      <div class="col-xs-12 col-sm-4 element-twitter-timelines">
        Pole NSL
        <a class="twitter-timeline" data-lang="fr" data-width="350" data-height="350" data-theme="dark" data-link-color="#E95B20" href="https://twitter.com/PoleNSL?ref_src=twsrc%5Etfw/media"></a>
      </div>
    </div>
  </div>
</div>

<div class="ecosystem-agenda-container">
  <h4> Agendas </h4>
  <div class="ecosystem-agenda-list">
    <%= link_to 'agrosphère', 'http://www.agrospheres.eu/evenements-agrospheres.php' %>
  </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
