<div id="events">
  <h3><strong>Nos Évènements </strong></h3>
  <div class="events-content">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'planet.jpg'%>);">
          <div class="event-date">23/05/2019</div>
          <div class="event-type salon">AgroClubRSE</div>
          <div class="event-title">PLV et Développement durable</div>
          <div class=event-organiser>Org: Agroé / Fizzy Distribution </div>
          <div class="event-address">Sars-et-Rosières (59)</div>
          <div class="event-registration-button">
            <a href="http://sh1.sendinblue.com/1ya48ztl4c.html?t=1548339563" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'symevad.png'%>);">
          <div class="event-date">18/06/2019</div>
          <div class="event-type club">Rencontre</div>
          <div class="event-title">Emballage </div>
          <div class="event-title2">
              Allons à la rencontre des belges
          </div>
          <div class=event-organiser>Org: Agroé / Wagralim</div>
          <div class="event-address">Charleroi (BEL)</div>
          <div class="event-registration-button">
            <a href="https://www.eventbrite.fr/e/billets-visite-du-centre-de-tri-de-symevad-58361038437" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'paris.jpg'%>);">
          <div class="event-date">14/09/2019</div>
          <div class="event-type salon">Spécial</div>
          <div class="event-title">Export et Port de Dunkerque</div>
          <div class="event-title2">Venez rencontrer les experts du port de dunkerque pour affiner votre stratégie à l'export</div>
          <div class=event-organiser>Org: Agroé / Port de Dunkerque</div>
          <div class="event-address">Dunkerque (59)</div>
          <div class="event-registration-button">
            <a href="" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="events">
  <h3><strong> Notre actualité </strong></h3>

<div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@poledexcellenceagroe","postsPerLine":3,"limit":3,"picture":"small","fields":["description","author","claps","publishAt"],"ratio":"square"}})</script>
</div>


<div class="questions-container">
<h3><strong> Contact</strong> </h3>


 <h5> <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
</h5>


</div>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

