
<div class="news-container">
  <div class="row">
    <div class="col-md-6">
      <div id="actu">
        <h3><strong> Nos publications </strong></h3>
        <div id="medium-widget"></div>
          <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
          <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@poledexcellenceagroe","postsPerLine":1,"limit":4,"picture":"small","fields":["description"],"ratio":"square"}})</script>
          <a href="https://medium.com/@poledexcellenceagroe">+ de publications...</a>
      </div>
    </div>
    <div class="col-md-6">
      <div id="network">
        <h3><strong> Nos Réseaux </strong></h3>
<a class="twitter-timeline" href="https://twitter.com/JuMottet?ref_src=twsrc%5Etfw">Tweets by JuMottet</a>
    </div>
  </div>
</div>








