<% participants = ['groupe_holder.png',
                   'Ingredia.png',
                   'castelain.png',
                   'CGF_Charcuterie.png',
                   'daudruy.png',
                   'fruits_rouges.jpg',
                   'davigel.png',
                   'FRANCECAKETRADITION.gif',
                   'tbvergers.gif',
                   '3monts.gif',
                   'assemandeprez.png',
                   'brasserie_legendes.png','biscuit_mad.jpg',
                   'coopfrance.png','CUEILLETTE_EN_BAIE_DE_SOMME.png',
                   'Desmazieres_logo.png',
                   'fizzy.png', 'fdesprez.png', 'fleurymichon.png','flo58.png','FORT_ET_VERT.png','GEORGETTE-CIBOULETTE.png',
                   'odeli.png',
                   'jcdavid.png','lepetitcuisinier.png','lucullus.png',
                   'Marche_phalempin.png','portdunkerque.png','CHOCMOD.png','DES_HOMMES_ET_DES_BOEUFS.png','DISTILLERIE_D_HAUTEFEUILLE.png','FLEUR_DE_SEL_DES_2_CAPS.jpg','FLORENSUC.png','FOREO.png','FOURNIL_DES_SAVEURS.jpg','GRAINE_DE_CHOC.png','IDEES_DE_SAISON.png','JEAN_BOUTEILLE.jpg','JOLIE_CONFITURE.png','LA_PRESERVERIE.png','LE_PATUREUR.png','MILLY_MACARONS.png','SOUPISSIME.jpg','norabio.jpg'] %>



<div id="partenaires">
<h2>Ils nous font confiance </h2>
<% participants.each do |participant| %>
<%= image_tag participant, alt: '', class:'logos-soutiens-resize' %>
<% end %>
    </div>

  <% participants_2 = ['bio_demain.png','croc_la_vie.png','coeur_de_picardie.jpg', 'NOVIAL.png'] %>

