<h3><strong> Ressources issues des AgroNotes</strong> </h3>

<iframe width=800 height=400 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQvUFq1phD_lwSWOlrZKhgcFFc4kVzu9x24LoAbzp8FfKN5S1ypILunOi47sKqgEkzXJv3Bs95Z32Wn/pubhtml?widget=true&amp;headers=false"></iframe>

<p> Si vous souhaitez partager du contenu </br>merci de m'envoyer le lien et un descriptif du lien ou le fichier avec le descriptif du fichier.</br> Votre nom sera mentionné comme source de cette ressource.</p>

<div id="actu">
  <h3><strong> Nos publications </strong></h3>
  <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@poledexcellenceagroe","postsPerLine":1,"limit":4,"picture":"small","fields":["description"],"ratio":"square"}})</script>
    <a href="https://medium.com/@poledexcellenceagroe">+ de publications...</a>
</div>
