<div class="ressources-container">

<h4><a href="https://cloud.cestlebouquet.fr/index.php/s/3wsj7QytbBT2sXm/authenticate"> > LIEN VERS DOSSIER PARTAGE <</a></h4>

<h3><strong> Ressources issues des AgroNotes</strong> </h3>

<iframe width=800 height=400 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQvUFq1phD_lwSWOlrZKhgcFFc4kVzu9x24LoAbzp8FfKN5S1ypILunOi47sKqgEkzXJv3Bs95Z32Wn/pubhtml?widget=true&amp;headers=false"></iframe>




<div id="actu">

  <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@poledexcellenceagroe","postsPerLine":1,"limit":4,"picture":"small","fields":["description"],"ratio":"square"}})</script>

</div>
</div>
