<!doctype html>
<div class="temp-banner2">
  <div class="temp-banner-content2">
    <h1>Agroé</h1>
    <h4> accompagne les entreprises <strong>agroalimentaires</strong> des Hauts-de-France... </h4>
  </div>
</div>
<div class="cta-container2">
  <h3> Services </h3>
  <div class="row">
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-rse2">
        <a href="agroclubrse.html">
          <h2> RSE </h2>
          <p> Partagez avec une communauté d'entreprises agroalimentaires engagées, de la start-up à l'ETI.</p>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-digital2">
        <a href="">
          <h2> Digital </h2>
          <p> Plutôt qu'en faire, parce qu'il faut en faire, posez-vous les bonnes questions avant d'agir  </p>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-trans2">
        <a href="">
          <h2> Commerce </h2>
          <p> Découvertes de l'export de proximité, visites de salons, rencontres avec des distributeurs </p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="event-container">
  <h3> Futurs évènements </h3>
  <div class="event">
    <div class="event-intro">
      <div class="event-date">
        28/02/2019
      </div>
      <div class="event-type club">
        AgroClubRSE
      </div>
    </div>
    <div class="event-main">
      <div class="event-title">
        Sensibilisation des équipes à la consommation énergétique et évaluation des impacts financiers
      </div>
      <div class="event-address">
      NOVIAL - rue de Cambrai, 59159 NOYELLES SUR ESCAUT
      </div>
    </div>
    <div class="event-registration-button">
      <a href="https://goo.gl/forms/ebr7FUHOCxc7imOj1" class="btn btn-success"> Inscription </a>
    </div>
  </div>
  <div class="event">
    <div class="event-intro">
      <div class="event-date">
        18/03/2019
      </div>
      <div class="event-type salon">
        Salon
      </div>
    </div>
    <div class="event-main">
      <div class="event-title">
        Marché du goût
      </div>
      <div class="event-address">
      Parc des exposition - Courtray
      </div>
    </div>
    <div class="event-registration-button">
      <a href="" class="btn btn-success"> Inscription </a>
    </div>
  </div>
    <div class="event">
    <div class="event-intro">
      <div class="event-date">
        28/02/2019
      </div>
      <div class="event-type club">
        AgroClubRSE
      </div>
    </div>
    <div class="event-main">
      <div class="event-title">
        Super Thématique
      </div>
      <div class="event-address">
    Fizzy
      </div>
    </div>
    <div class="event-registration-button">
      <a href="" class="btn btn-success"> Inscription </a>
    </div>
  </div>
</div>
<div class="tools-container">
  <h3> Les derniers outils </h3>
  <iv class="tools">
    <div class="tool-element">
      <a href="https://docs.google.com/presentation/d/1oURtuyEWAYw7dCe5yYelxIrG-Oy0EmCZhSpSbH_Ovlo/edit?usp=sharing">
      <%= image_tag 'tool-dechets.png', class: 'tool-size' %>
      ppt de présentation de la Section déchets du kit ANIA-ACTIA
      </a>
    </div>
  </div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

