<div class="domains-banner-container color-web">
  <div class="white-content">
    <p><span class="big-letters">WEB</span></p>
  </div>
</div>
<div class="service-container">
  <h1><strong>Services Gratuits</strong></h1>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-microphone fa-2x"></i>
       <h2><strong>Les Agro Digital Podcasts</strong></h2>
    </div>
    <div class="service-description">
      <p> Les grands disitributeurs et les grands groupes utilisent en moyenne plus de 50 micro-services proposées par des start-ups du digital. Aujourd'hui une vague de nouvelles start-ups souhaitent proposer des services adaptés aux TPE et PME. Agroé sélectionne des podcasts pour découvrir ces services. Si un service vous intéresse particulièrement, nous pouvons organiser un webinaire avec l'entreprise. Il suffit de voter en dessous du listing ci-dessous.   </p>
      <iframe src="https://www.listennotes.com/listen/agro-digital-podcasts-oZipDYgJHRn/episodes/embed/" height="300px" width="100%" style="width: 1px; min-width: 100%;" frameborder="0" scrolling="no"></iframe>
      <p> Nous souhaitez découvrir plus en détail l'un des services ? Nous organiserons des webinaires avec les entreprises qui recoivent le plus de votes.
      <p><a href="http://sh1.sendinblue.com/nt8qz0jfsc.html?t=1548625978" class="petit-lien-black"> Votez pour vos services préférées </a></p>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-envelope-square fa-2x"></i>
      <h2><strong>L'AgroNoteRSE</strong></h2>
    </div>
    <div class="service-description">
      <p> La RSE et le digital sont des domaines très liés. Ainsi l'agronoterse propose souvent des articles parlant de digital. Abonnez-vous !  </p>
      <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-web"> Abonnez-vous à l'agroNoteRSE </a></p>
      <p><a href="http://sh1.sendinblue.com/nt8qz0jfsc.html?t=1548625978" class="petit-lien-black">  AgroNoteRSE #29 </a></p>
    </div>
  </div>
</div>
<div class="service-transition">
</div>
<div class="service-container white-content grey-background">
  <h1><strong>Services AgroClubRSE</strong></h1>
  <a href="https://lc.cx/adhésion-agroclubrse-2019" class="btn color-web"> Devenir membre</a>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-tachometer-alt fa-2x"></i>
      <h2><strong> Audit pour vendre plus grâce à votre siteweb </strong></h2>
    </div>
    <div class="service-description">
      <p> Si vous avez créé un siteweb, c'est bien pour persuader les visiteurs d'acheter vos produits, non ? Au delà des produits, c'est bien le design et le contenu du site qui influence sa capacité à convertir vos visiteurs en acheteurs. Nous vous proposons donc d'auditer votre site sur plus de 20 points. Ces points d'évaluation sont basés sur des recherches scientifiques en webdesign et des principes de psychologie humaine tel que la preuve social, la rareté ou la cohérence. Si ce travaille ne permet pas d'améliorer le taux de convertion, nous vous remboursons la prestation.  </p>
      <span class="indisponible">Date de la prochaine session non encore connue </span>
    </div>
  </div>
  <div class="service-element">
    <div class="service-title">
      <i class="fas fa-chart-line fa-2x"></i>
      <h2><strong> Influence digital, qui sont les meilleurs de la région ?</strong></h2>
    </div>
    <div class="service-description">
      <p> Agroé a développé un outil vous permettant de visualiser l'influence digital de l'ensemble de l'écosystème agroalimentaire régionale. Qui est la PME avec le plus de like sur faebook? vous le saurez bientôt ! Au cours du temps, observerez les entreprises animer des communautés conséquentes et vous en inspirer.</p>
      <span class="indisponible">Bientôt ouvert </span>
    </div>
  </div>
  <div class="transition-fin">
    <a href="https://lc.cx/adhésion-agroclubrse-2019" class="btn color-web"> Devenir membre de l'AgroClubRSE</a>
  </div>
</div>





