.event-show-details{
  padding: 5px 25px ;
  background-color: white;
  text-align: left;
  font-size: calc(10px + 0.4vw);
  li{
    text-align: left;
  }
}

.event-show-links{
    padding: 20px 10px;
    background-color: white;
    p{
    text-align: center;
    font-size: 16px;
    }
    a{
      font-size: 11px;
      padding: 5px;
    }
    .sub-btn-prim{
      text-align: center;
      margin-bottom: 20px;
      a{
        font-size: 18px;
      }
    }
    .sub-btn-sec{
      display: flex;
      justify-content: center;
      .btn-register{
        background-color: green;
        border-radius: 10px;
        box-shadow: 1px 1px 3px;
        margin: 10px 20px;
        font-size: 20px;
        width: 250px;
      }
    }
}
.retour{
  text-align: left;
  margin: 15px 15px -3px 15px;
}

.event-profil-container{
  background-color: white;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
}

.event-profil-content{
  max-width: 800px;
}

.img-event-profil {
  height: 250px;
  padding-top: 10px;
  margin-top: 20px;
  img{
  width: auto;
  margin: 10px auto;
  height: 100%;
  object-fit: cover;
  }
  background-color: white;
}

.event-main-info-container{
  margin-top: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 250px;
  background-color: white;
}

.event-main-info-content{
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 70px;
  }
  p{
    font-size: 16px;

  }
 .agroclub-alert{
  margin-top: 10px;
  color: red;
  font-weight: bolder;
 }
}


.event-profil-descriptionlong{
  text-align: left;
}




