.user-space-introduction-container{
  margin-top: 100px;

  .user-space-introduction-content{
    padding: 30px;
    max-width: 700px;
    text-align: left;
    background-color: white;
    margin: 0 auto;
    box-shadow: 1px 1px 3px rgb(200,200,200);
    a{
     color: green;
    }
    a:hover{
    color: grey;
    }
    ul{
      margin-bottom: 20px;
    }
  }
}
