.user-space-introduction-container{
  padding: 50px;

  .user-space-introduction-content{
    max-width: 700px;
    text-align: left;
    background-color: white;
    margin: 0 auto;
    padding: 50px 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgb(200,200,200);
    a{
     color: green;
    }
    a:hover{
    color: grey;
    }
    ul{
      margin-bottom: 20px;
    }
  }
}
