 .event{
  text-shadow: 0 1px 3px rgba(200,200,200,0.6);
  height: 300px;
  position: relative;
  background-position: cover;
  background-size: 100% 100%;
  margin: 20px 5px;
  border-radius: 4px;
  color: rgb(260,260,260);
  .event-registration-button{
   position: absolute;
   bottom: 10px;
   right : 10px;
   opacity: 0;
  }
  .event-price-ext{
  position: absolute;
  bottom : 30px;
  left : 10px;
  font-size: 13px;
  }
.event-price-adhesion{
  position: absolute;
  bottom : 10px;
  left : 10px;
  font-weight: bolder;
  font-size: 17px;
  }
  .event-description{
  position: absolute;
  top: 145px;
  left : 10px;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  opacity: 0;
}
 }

.event:hover{
  border-radius: 4px;
  .event-registration-button{
   opacity: 1;
   transition: ease opacity 0.3s
  }
  .event-description{
  opacity: 0.7;
   transition: ease opacity 0.3s
  }
}



.event-date{
  position: absolute;
  top: 10px;
  left : 10px;
  font-size: 15px;
  font-weight: lighter;
}

 .event-type{
  position: absolute;
  top: 85px;
  left : 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-size: contain;
 }

.event-title{
  position: absolute;
  top: 115px;
  left : 10px;
  font-size: 24px;
}

.event-description{
  position: absolute;
  top: 145px;
  left : 10px;
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.7;
  text-align: left;
}



.event-address{
  position: absolute;
  top : 10px;
  right : 10px;
  font-size: 15px;
  font-weight: lighter;
}


