.card-container{
  height: 200px;
  background-color: white;
  opacity: 0.6;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .lock-info {
      position: absolute;
      bottom : 15px;
      right: 25px;
    }
  .card-title{
  display: inline;
}
  .card-description{
  display: none;
}
.card-rse-only{
  font-size: 10px;
  color: red;
  }
}

.clickable{
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  box-shadow: 1px 1px 3px;
}

.clickable:hover{
  margin: -1px 1px 1px -1px;
  transition: 0.2s;
}

.card-container:hover{
  .card-title{
  display: none;
}
  .card-description{
  display: inline;
  font-size: 18px;
  font-weight: lighter;
  padding: 30px;
}
}

.card-title{
  font-size: 30px;
}






