.engage-border-right{
  border-right-color: #6A9F31;
  border-right-width: 10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
}

.visionnary-border-right{
  border-right-color: #C97064;
  border-right-width: 10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
}

.experts-border-right{
  border-right-color: rgb(100,100,100);
  border-right-width: 10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
}

.bg-live{
  background-color: rgb(240,240,240);
  opacity: 0.9;
}

.bg-live:hover{
  opacity: 1;
  transition: opacity 0.1s ease;
  }

.bg-done{
  background-color: rgb(240,240,240);
  opacity: 0.5;
}

.bg-done:hover{
  opacity: 0.7;
  transition: opacity 0.1s ease;
  }

  .events-list-content{
    margin: 0px 20px;
  }

 .events-list-element{
  height: 100px;
  margin: 10px auto;
  max-width: 800px;
  color: rgb(60,60,60);
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
  .event-date{
  position: absolute;
  top: 5px;
  left : calc(60px + 4vw);
  font-size: 16px;
  opacity: 0.9;
  }
 .event-type{
  position: absolute;
  top: 85px;
  left : 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-size: contain;
 }
.event-indisponible-message{
  font-style: italic;
  font-weight: lighter;
}
.event-title{
  position: absolute;
  color: rgb(100,100,100);
  top: 24px;
  left : calc(60px + 4vw);
  display: flex;
  height: 62px;
  align-items: center;
  p{
    text-align: left;
    font-size: calc(16px + 0.3vw);
    line-height: 17px;
  }
}
.event-address{
  position: absolute;
  top : 80px;
  left : calc(60px + 4vw);
  font-size: 12px;
  opacity: 0.7;
  height: 13px;
  text-align: left;
}
  .event-registration-button{
   position: absolute;
   bottom: 10px;
   right : 10px;
     p{
    font-size: 15px;
    font-weight: lighter;
    }
  }
  .event-price-ext{
  position: absolute;
  top : 19px;
  right : 5px;
  font-size: 13px;
  font-weight: lighter;
  text-align: right;
  }
  .event-price-adhesion{
  position: absolute;
  top : 5px;
  right : 5px;
  font-size: 13px;
  text-align: right;
  }
  .event-description{
  position: absolute;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  opacity: 0;
  }
 }

.event-image{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(50px + 4vw);
  background-color: black;
    img{
    height: 100%;
    width: calc(50px + 4vw) ;
    object-fit: cover;
  }

}

.event-liencard a{
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}




