.footer-container{
  padding: 20px;
  background-color: grey;
  font-size: 15px;
}

.down-footer{
  display: flex;
  justify-content: center;
}

.credits{
  margin: 0px 20px;

}

.last-element-down-footer{
  width: 300px;
  text-align: left;
  margin-left: 20px;
}

.first-element-down-footer{
  width: 300px;
  text-align: right;
  margin-right: 20px;
}


