#services-container{
  padding: 50px;
  color: rgb(120,120,120);
  background-color: #eaeaea;
  #services-content{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .service-container{
      margin: 30px;
      border-radius: 4px;

      .service-content{
        .service-logo{

          }
        .service-title{
          font-size: 25px;
          font-weight: bolder;
          margin: 15px;
          }
        .service-description{
          font-size: 14px;
          text-align: justify;
          height: 130px;
          line-height: 20px;
          }
        .service-link a{
          font-size: 15px;
          border-style: solid;
          border-radius: 4px;
          padding: 3px 5px;
          color: rgb(200,200,200);
          }
        .service-link a:hover{
          font-size: 15.5px;
          color: rgb(230,230,230);
          }
        }
      }
    }
  }
