.user-card{
  background-color: white;
  box-shadow: 2px 1px 3px rgb(150,150,150);
  width: 250px;
  height: 400px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 10px;
  p{
    font-size: 10px;
    font-style: italic;
  }
  a{
        font-size: 12px;
        color: black;
        margin: 5px;
  }
  .avatar-big img{
    height: 100px;
    border-radius: 50%;
  }
}



