// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

#content{
  padding-top: 80px;
}

// Devise css

// Devise form
.devise-form-container{
  padding: 20px;
  flex :display;
  justify-content: center;
  align-items: center;
  .devise-form{
    background-color: white;
    margin: 50px 300px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(200,200,200);
    padding: 20px;
  }
}

// Devise User-show
.user-show-container{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-show-content{
}
.user-show-edit-button{
  margin: 5px;
}

// Devise User-Index
.users-index-container{
  padding: 50px;
}
.users-index-content{
}

