<div class="section s-white">
  <div class="section-title">
    Rejoignez-nous
  </div>
  <div class="section-description">
    Pour participer aux actions et accéder à tous les contenus, il suffit d'adhérer à Agroé. Le processus est très simple et transparent.
  </div>
    <div id="adhesion-agroclub">
      <div class="join offer1">
        <div class="offer-main-information">
          <h4><strong>Adhésion</strong></h4>
            entre 100 &#8364 et 1000 &#8364
        </div>
        <div class="offer-buttons">
                   <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                   <p>ou</p>
          <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>
        </div>
        <div class="offer-services-listings">
          <h5><i class="fas fa-check"></i> Accès à tous les évènements au prix "agroclubrse"</h5>
          <h5><i class="fas fa-check"></i> Accès à l'intranet </h5>
          <h5><i class="fas fa-check"></i> Accès à tous les contenus </h5>
          <h5><i class="fas fa-check"></i> Accès aux coordonnées de tous les adhérents. </h5>
          <h5><i class="fas fa-check"></i> Accès à la cartographie des compétences RSE des adhérents AgroClubRSE.</h5>
          <h5><i class="fas fa-check"></i> Accès à l'accompagnement individualisé (financement, AMO, expertise). </h5>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
