<div class="sections s-grey">
  <div class="section-title">
    Venez Tester
  </div>
  <div class="adhesion-content">
    <div class="join offer1">
      <div class="imgs-wall">
        <%= image_tag 'Heineken-group-mini.jpg'%>
      </div>
      <h4><strong>Adhésion Agroé</strong></h4>
      <p>
        Pour testez nos services et rencontrer la communauté.
      </p>
        100 &#8364
      <div class="offer-buttons">
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559853153/bulletin-adhesion_Agroe_06062019.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
        <p>ou</p>
        <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroe" class="btn btn-default"> Adhésion en ligne </a>
      </div>
      <h5><i class="fas fa-check"></i> 1 essai gratuit a un évènement. </h5>
      <h5><i class="fas fa-check"></i> 1 an d'abonnement à l'AgroNote. </br> <span class= minilien><a href="http://sh1.sendinblue.com/7rd6dn0jfsc.html?t=1557864962">-> exemplaire test <-</a></span> </h5>
    </div>
  </div>
</div>
