<div class="section s-white">
  <div class="section-description">
    Pour participer aux actions et accéder à tous les contenus, <br/> <span class=highlight-text>il suffit d'adhérer</span> à Agroé.<br/> Le processus est très simple et transparent.
  </div>
    <div id="adhesion-agroclub">
      <div class="join offer1">

         <div class="offer-buttons">
                   <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion.</a>
                   <p>ou</p>
          <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>
        </div>
        <p><strong>Le prix de l'adhésion est compris entre 100 &#8364 et 1000 &#8364.</strong></p>
        <br/>
         <div class="offer-services-listings">
          <p>L'adhésion offre l'accès à : </p>
          <p>- tous les évènements au prix "AgroClubRSE".</p>
          <p>- l'intranet.</p>
          <p>- tous les contenus.</p>
          <p>- les coordonnées de tous les adhérents. </p>
          <p>- la cartographie des compétences RSE des adhérents AgroClubRSE.</p>
          <p>- l'accompagnement individualisé (Financement, AMO, Expertise).</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
