<div class="section s-grey">
  <div class="section-title">
    Rejoignez-nous
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="adhesion-agroe">
        <div class="join offer1">
        <h4><strong>Adhésion Agroé</strong></h4>
        <p>
          Pour testez nos services et rencontrer la communauté.
        </p>
          100 &#8364
          <div class="offer-buttons">
            <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559853153/bulletin-adhesion_Agroe_06062019.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
            <p>ou</p>
            <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroe" class="btn btn-default"> Adhésion en ligne </a>
          </div>
          <div class="offer-services-listings">
            <h5><i class="fas fa-check"></i> Accès a un évènement au prix "agroclubrse" (souvent gratuit) </h5>
            <h5><i class="fas fa-check"></i> Accès à tous les évènements suivants au prix "agroe". </br></h5>
            <h5><i class="fas fa-check"></i> Accès à l'intranet </h5>
            <h5><i class="fas fa-check"></i> Accès à tous les contenus hors "Exclues AgroClubRSE". </br></h5>
            <h5><i class="fas fa-check"></i> Accès au test de maturité RSE. Etes-vous plus ou moins mature en RSE que l'adhérent "moyen" de l'AgroClubRSE ? vous le saurez en réalisant ce test ! </br></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="adhesion-agroclub">
        <div class="join offer2">
          <div class="offer-main-information">
            <h4><strong>Offre "AgroClubRSE"</strong></h4>
            <p>Pour échanger plus efficacement et monter des projets.</p>
              à partir de 100 &#8364
          </div>
          <div class="offer-buttons">
                     <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                     <p>ou</p>
            <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>
          </div>
          <div class="offer-services-listings">
            <h5><i class="fas fa-check"></i> Accès à tous les évènements au prix "agroclubrse"</h5>
            <h5><i class="fas fa-check"></i> Accès à l'intranet </h5>
            <h5><i class="fas fa-check"></i> Accès à tous les contenus </h5>
            <h5><i class="fas fa-check"></i> Accès aux coordonnées de tous les adhérents. </h5>
            <h5><i class="fas fa-check"></i> Accès à la cartographie des compétences RSE des adhérents AgroClubRSE.</h5>
            <h5><i class="fas fa-check"></i> Accès à l'accompagnement individualisé (financement, AMO, expertise). </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
