<div class="sections s-white">
  <div class="section-title">
  Puis rejoignez la communauté
  </div>
  <div class="adhesion-content">
    <div class="join offer2">
      <div class="imgs-wall">
        <%= image_tag 'agroe_club_davigel.JPG'%>
      </div>
      <h4><strong>Offre "AgroClubRSE"</strong></h4>
      <p>Pour échanger plus efficacement et monter des projets.</p>
          à partir de 100 &#8364
      <div class="offer-buttons">
                 <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                 <p>ou</p>
        <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>


      </div>
      <h5><i class="fas fa-check"></i> Tous les évènements pendant 1 an.</h5>
      <h5><i class="fas fa-check"></i> La veille sur nos thématiques rassemblée et triée.</h5>
      <h5><i class="fas fa-check"></i> Les coordonnées des adhérents avec leurs compétences associées. </h5>
      <h5><i class="fas fa-check"></i> Accès à la liste email et au WhatsApp. </h5>
      <h5><i class="fas fa-check"></i> Accès à l'accompagnement dans le montage de dossiers de financement de projets collectifs. </h5>
    </div>
  </div>
</div>
