
<div id="contact-info-container">
  <div class="section-title">
    L'équipe
  </div>
  <div id="contact-info">
    <%= render '/shared/team' %>
    <div id="contact-info-tel">
      <a href="tel:+3332770158">
        <i class="fas fa-phone"></i> 03.27.70.15.80
      </a>
    </div>
    <div id="contact-info-email">
      <a href="mailto:contact@agroe.fr", class="">
        <i class="fas fa-envelope"></i> contact@agroe.fr
      </a>
    </div>
  </div>
</div>
