<div class="section s-grey">
  <% if !user_signed_in? %>
  <div class="section-description">
    Nous produisons en continue <span class=highlight-text>des contenus</span> pour répondre aux besoins de nos adhérents et raconter la vie de <br/><span class=highlight-text>la communauté</span>.
  </div>
  <% else %>
  <% end %>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="lock-information">
    <i class="fas fa-lock"></i> : Contenu réservé
  </div>
</div>
