<div class="section s-grey">
  <% if !user_signed_in? %>
  <div class="section-title">
    Derniers Contenus
  </div>
  <% end %>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
</div>
