<div class="section s-grey">
  <% if !user_signed_in? %>
  <div class="section-description">
    L'ensemble des présentations, compte-rendus, photos, articles sont à disposition des adhérents via <span class=highlight-text>l'intranet</span>. Cet intranet contient aussi des dossiers thématiques et une carthographie des compétences RSE des adhérents.
  </div>
  <% else %>
  <% end %>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="lock-information">
    <i class="fas fa-lock"></i> : Contenu réservé aux adhérents "Agroé et "AgroclubRSE"
  </div>
</div>
