<div class="section s-grey">
  <% if !user_signed_in? %>
  <div class="section-description">
    Agroé créé <span class=highlight-text>des contenus et des outils </span> qui répondent aux attentes de nos adhérents.
  </div>
  <% else %>
  <% end %>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="lock-information">
    <i class="fas fa-lock"></i> : Contenu réservé
  </div>
</div>
