<div class="section s-white">
  <% if !user_signed_in? %>
  <div class="section-description">
    Le pôle Agroé propose régulièrement des évènements <br/>du secteur agroalimentaire en Hauts-de-France sur <br/><span class=highlight-text>la transition sociétale et numérique</span>
  </div>
  <% end %>
  <div class="events-list-content">
    <% @events.where('date >= ?', Date.today.to_s).where('event_type != ?', 'contenu').order(:date).each do |e| %>
      <%= render 'shared/events/event_listing_card', event: e %>
    <% end %>
  </div>
</div>
