<div id="partenaires-instit">
  <h3><strong> Ils nous permettent de travailler avec vous </strong></h3>
    <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'Interreg_ADT.png', class:'logos-soutiens-resize' %>
</div>


