<div id="banner" style="background-image: linear-gradient(to bottom, rgba(50,50,50,0.7) 60%, rgba(50,50,50,0.3) 100%), url(<%= image_path 'planet.jpg' %>;">
  <div id="banner-content">
    <h1>
      Devenez <br/> une entreprise agroalimentaire <br/><span class="engage"> engagée</span>
    </h1>
    <h2>
      <a href=<%= events_path %>> Prochains évènements </a>
    </h2>
  </div>
</div>
