
<div id="banner" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.3)), url(<%=image_path 'botanica.jpg' %>);">
  <div id="banner-container">
    <h1>La transition numérique et sociétale<br/> est pleine d'opportunités.</h1>
    <p>
      Agroé est le pôle <span class=highlight-text>agroalimentaire</span> des Hauts-de-France dédié à la transition numérique et sociétale.<br/> Nous vous fournissons des contenus pour monter en compétence, une communauté d'entreprises déjà engagées et un accompagnement personnalisé pour passer à l'action.
    </p>
  </div>
</div>

