<div class="section s-grey">
  <div class="section-title">
  Agroé vous accompagne
  </div>
  <div id="services-content">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-calendar-alt fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Des évènements réguliers
              </div>
            </div>

            <div class="service-description">
              <p>Tout au long de l'année nous proposons des témoignages d'entreprises, des visites de sites industriels et de salons, des webinaires sur nos thématiques d'intérêt : la RSE, le développement commercial et le numérique.</p>
            </div>
            <div class="service-link">
              <a href=<%= events_path() %>> Nos évènements </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-people-carry fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Des mises en relation qualifiées
              </div>
            </div>
            <div class="service-description">
              <p> Nous rassemblons une communauté d'entreprises agroalimentaires souhaitant impacter positivement la société et partager leurs expériences. Vous avez une question sur la RSE ? vous trouverez ici un industriel pour vous aider ! </p>
            </div>
            <div class="service-link">
              <a href=<%= participants_path() %>> Le réseau </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-chart-line fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Un accompagnement personnalisé
              </div>
            </div>
            <div class="service-description">
              <p>Un siteweb à repenser ? Une stratégie RSE à structurer ? une étude de marché à faire ? Nous aidons nos adhérents à avancer sur certains dossiers.   </p>
            </div>
            <div class="service-link">
              <a href=<%= root_path(anchor: 'team-container') %>>Nous contacter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

