<div class="section s-grey">
  <div class="section-title">
  Accompagnement
  </div>
  <div class="section-description">
    Pour aider les entreprises, au passage à l'action, Agroé propose différents niveaux de service aux entreprises adhérentes. Cela peut aller d'un accompagnement de quelques jours sur un point particulier au montage de projets complexes sur plusieurs mois. les budgets peuvent aller de quelques milliers à des centaines de milliers d'euros.
  </div>
  <div class="cards-content">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-calendar-alt fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Financement
              </div>
            </div>

            <div class="service-description">
              <p> Agroé sait mobiliser les financeurs en capacité de soutenir votre projet et vous assister dans le montage du dossier. La mission s'arrête généralement à la validation du dossier par le financeur. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-people-carry fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Pilotage de Projet
              </div>
            </div>
            <div class="service-description">
              <p> Agroé a de l'expérience dans le pilotage de projet complexes impliquants différentes expertises. Par exemple, l'évaluation de l'empreinte environnementale de produits agroalimentaires, la conception d'outils web ou la réalisation de audits RSE croisées.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-container">
          <div class="service-content">
            <div class="service-logo">
              <i class="fas fa-chart-line fa-2x"></i>
            </div>
            <div class="service-title-container">
              <div class="service-title">
                Accompagnement
              </div>
            </div>
            <div class="service-description">
              <p>Agroé propose son expertise sur certaines thématiques bien particulières où ses compétences sont reconnues : analyse financière, relecture de politiques RSE, audit RSE, audit de siteweb.  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

